.header {
  width: 100%;
  height: 500px;
  z-index: -1000;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 136, 17);
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.header img {
  height: 200px;
}
.first-name {
  font-family: "Source Sans 3", sans-serif;
  font-weight: bold;
  color: #e0e0e0;
}

.last-name {
  font-weight: normal;
  font-family: "Source Sans 3", sans-serif;
  color: #e0e0e0;
  opacity: 0.8;
}
