nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100vw;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
  box-sizing: border-box;
  z-index: 1000;
}
nav span.logo {
  font-family: "Bungee", sans-serif;
  font-size: 1.2em;
}

nav #Write-New-tweet {
  font-size: 0.75em;
  text-align: center;
}

nav #Write-New-tweet-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav #Write-New-tweet .strong-text {
  font-family: "Source Sans 3", sans-serif;
  font-weight: bold;
}
nav #Write-New-tweet .light-subtext {
  font-weight: normal;
  font-family: "Source Sans 3", sans-serif;
  color: #e0e0e0;
  opacity: 0.8;
}
nav #Write-New-tweet:hover {
  cursor: pointer;
}

/* //for animation below double errows; */
@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
nav #Write-New-tweet i.fas {
  color: #ef4126;
  position: relative;
  animation: move 2s infinite;
  margin-top: 1.5em;
}
