nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100vw;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
  box-sizing: border-box;
}
nav span.logo {
  font-family: "Bungee", sans-serif;
  font-size: 1.2em;
}

nav #New-tweet {
  font-size: 0.75em;
  text-align: center;
}

nav #New-tweet-section {
  display: flex;
  align-items: center;
}

nav #New-tweet .strong-text {
  font-family: "Source Sans 3", sans-serif;
  font-weight: bold;
}
nav #New-tweet .light-subtext {
  font-weight: normal;
  font-family: "Source Sans 3", sans-serif;
  color: #e0e0e0;
  opacity: 0.8;
}
nav #New-tweet:hover {
  cursor: pointer;
}

nav #New-tweet i.fas {
  color: #ef4126;
  position: relative;
  animation: move 2s infinite;
}
