form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}
/* label {
  font-family: sans-serif;
  justify-content: center;
} */
textarea {
  flex: 100%;
  border: none;
  border-bottom: solid 5px #545454;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  height: 50px;
  background-color: inherit;
}

button {
  display: flex;
  justify-self: space-between;
  background-color: #4056a1;
  color: #ffffff;
  font-family: Bungee;
}
/* ---------------------------------------counter of character in tweet-------- */
.counter {
  justify-content: right;
  font-family: Bungee;
}

.counter-red {
  font-family: "Bungee";
  text-shadow: 2px 2px #fbeea4;
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #dc0909;
}
/* ---------------------------------------tweet-container-------- */
.container {
  padding-bottom: 40px;
}

article {
  margin-top: 4em;
  border: solid 5px #4f6961;
  padding: 10px;
}

article:hover {
  box-shadow: 10px 10px #cfcdbc;
}

.article-tweet-header {
  margin-top: 1.5em;
  margin-bottom: 2em;
  height: 25px;
  background-color: inherit;
  background-image: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.article-tweet-header-profile {
  display: flex;
}

.tweet-icon {
  margin-left: 0.5em;
  margin-right: 0.2em;
  font-size: 60px;
}

.tweet-handle {
  margin-right: 0.5em;
  opacity: 0.5;
}

.article-tweet-footer {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-bottom: 20px;
}

.tweet-text {
  display: flex;
  justify-content: flex-start;
  height: 50px;
  border-bottom: solid 5px #545454;
}

.timestamp {
  font-size: 20px;
}

.tweet-footer-icons {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.fa-solid.fa-flag:hover {
  color: #fae20a;
}

.fa-sharp.fa-solid.fa-retweet:hover {
  color: #fae20a;
}

.fa-solid.fa-heart:hover {
  color: #fae20a;
}
